<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Loda</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

    <!--js-->
    <script th:src="@{/js/bootstrap.js}"></script>

</head>
<body>
<h1>Welcome to Loda's Profile Page</h1>
<h4>Click on button below to transfer optioned page</h4>

<a th:href="@{/profile}" class="btn btn-primary">Loda Profile</a>
<a th:href="@{/task}" class="btn btn-primary">Loda's task</a>


</body>
</html>
