<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Loda</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

    <!--js-->
    <script th:src="@{/js/bootstrap.js}"></script>

</head>
<body>
<h1>Loda Loda</h1>
<p>Welcome back, Loda with good friend</p>
<p>How are you today?</p>
<p>Please press into link below <br> to transfer W3schools's page:</p>
<A href="https://www.w3schools.com">This</A>

<img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">

</body>
</html>